
.bodoni-moda{
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body {
  margin: 0;
  overflow: hidden;
  color: #26314A;
  background-color: #f0f0f0; /* Off-white background */
  font-family: 'Bodoni Moda', serif; /* Use your chosen font */
  position: relative;
  background-image: url('unaliven.gif');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center;
  background-size: 50%;
  background-opacity: 70%;

}

h1 {
  font-weight: 600;
  text-align: center;
  margin-top: 1%;

}
h2 {
  margin-left: 5%;
  margin-top: 15%;
}
h3 {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 400;
  text-align: center;
}
p {
  font-family: 'Trebuchet MS', sans-serif;
    font-weight: 400;
}
#brandCopy{
  
  margin-right: 400px;
  margin-left: 5%;
  margin-top: 2%;
}

.nav {
  background-color: #26314A; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 15%;
}
li {
  color:  #f0f0f0;
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
